.toolbar {
    position: absolute;
    height: 100%;
    width: 3em;
    align-items: center;
    justify-content: space-around;
    background-color: #091322;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.toolbarButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: transparent;
    min-width: 2.5em;
    min-height: 2.5em;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.toolbarButtonActive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: transparent;
    min-width: 2.5em;
    min-height: 2.5em;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #152e4f;
}

.toolbarButtonActive::before {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #000;
    min-width: 0.3em;
    min-height: 2.5em;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    left: 5px;
    background-color: #4c91ed;
}

.toolbarButton:hover {
    background-color: #152e4f;
    cursor: pointer;
}

.toolbarIcon {
    font-size: 1rem;
}

.boxSliderSrokeWidth {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}

.sliderSrokeWidth {
    -webkit-appearance: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sliderSrokeWidth::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.boxSliderSrokeWidth::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.spanStrokeWidth {
    background: black;
    text-align: center;
    color: white;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 600px) {
    .toolbar {
        position: static;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0;
    }
}